<meta charset="utf-8">

{% include seo.html %}

<header style="background: linear-gradient(to right, #4c1d95, #7c3aed);"></header>

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<div class="theme-toggle" style="margin-left: auto; cursor: pointer; font-size: 1.4rem;">
  <span id="theme-icon">☀️</span> <!-- 默认亮模式显示太阳 -->
</div>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>